@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;700;800;900&display=swap');

* {
  font-family: 'Encode Sans', sans-serif;
}

body {
  background-color: #fecafa;
}

.section-center {
  display: flex;

  flex-direction: column;
  align-items: center;
  text-align: center;

  max-width: 1280px;
  min-height: 100vh;
  padding: 0 1.6rem;
  margin: 0 auto;
}

.lorem-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  
  width: 100%;
  max-width: 620px;
  height: 140px;
  margin-bottom: 30px;

  padding: 0 1.4rem;
  border-radius: 6px;
  background-color: #ffebfd;
}

.lorem-form label {
  font-size: 18px;
  font-weight: 600;
  height: fit-content;
}

.lorem-form input {
  font-size: 18px;
  font-weight: 800;
  height: 26px;
  padding: 1rem;
  border-radius: 6px;
  border: none;
} 

.main-title {
  color: #2f4eda;
  font-size: 3rem;
  font-weight: 700;
}

.lorem-text {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: justify;
  padding: 0 1.4rem;
  margin-bottom: 14vh;
}